{% extends "base.html" %}

{% block content %}
<h1 class="title">
  {{ section.title }}
</h1>
<div class="blog-posts">
  {% for page in section.pages %}
  <div class="blog-post-row {% if loop.index is odd %}odd{% else %}even{% endif %}">
    <a href="{{ page.permalink | safe }}" class="blog-post-link">
      <div class="blog-post-title">{{ page.title }}</div>
      <div class="blog-post-date">{{ page.date | date(format="%Y-%m-%d") }}</div>
    </a>
  </div>
  {% endfor %}
</div>
{% endblock content %}
